---
import GrainOverlay from "../components/GrainOverlay.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Links from "../components/Links.astro";
import Socials from "../components/Socials.astro";
import "../styles/global.css";

// import { redirect } from 'astro:server';
// redirect('/calendar');

// window.location.replace("/calendar")
---

<html lang="en">
  <Head />
  <body class="flex flex-col items-center justify-center min-h-dvh w-full">
    <div id="bg-chica" class="fixed inset-0 z-[-2] bg-chica"></div>

    <GrainOverlay />

    <main class="flex flex-col w-full md:w-6/12 xl:w-4/12 gap-6 relative z-10">
      <Header />
      <Socials />
      <Links />
    </main>
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"
  is:inline></script>
<script is:inline>
  /** @type {any} */
  const gsapLib = window.gsap;
  const bgEl = document.getElementById("bg-chica");

  if (bgEl && gsapLib) {
    gsapLib.set(bgEl, {
      transformOrigin: "50% 50%",
      transformStyle: "preserve-3d",
      scale: 1.1,
    });

    const bgRX = gsapLib.quickTo(bgEl, "rotationX", {
      duration: 0.8,
      ease: "power3",
    });
    const bgRY = gsapLib.quickTo(bgEl, "rotationY", {
      duration: 0.8,
      ease: "power3",
    });

    let bgPosX = 50,
      bgPosY = 50;
    const updateBgPos = (x, y) => {
      bgEl.style.backgroundPosition = x + "% " + y + "%";
    };

    const posX = { value: 50 };
    const posY = { value: 50 };
    const innerX = gsapLib.quickTo(posX, "value", {
      duration: 0.8,
      ease: "power3",
      onUpdate() {
        bgPosX = posX.value;
        updateBgPos(bgPosX, bgPosY);
      },
    });
    const innerY = gsapLib.quickTo(posY, "value", {
      duration: 0.8,
      ease: "power3",
      onUpdate() {
        bgPosY = posY.value;
        updateBgPos(bgPosX, bgPosY);
      },
    });

    const isDesktop = window.matchMedia("(min-width: 1024px)").matches;

    if (isDesktop) {
      bgPosX = 95;
      posX.value = 95;
      updateBgPos(95, 50);
      document.addEventListener("pointermove", (e) => {
        const nx = e.clientX / window.innerWidth;
        const ny = e.clientY / window.innerHeight;
        bgRX(gsapLib.utils.interpolate(10, -10, ny));
        bgRY(gsapLib.utils.interpolate(-10, 10, nx));
        innerX(gsapLib.utils.interpolate(88, 98, nx));
        innerY(gsapLib.utils.interpolate(44, 56, ny));
      });
      document.addEventListener("pointerleave", () => {
        bgRX(0);
        bgRY(0);
        innerX(95);
        innerY(50);
      });
    } else {
      document.addEventListener("pointermove", (e) => {
        const nx = e.clientX / window.innerWidth;
        const ny = e.clientY / window.innerHeight;
        bgRX(gsapLib.utils.interpolate(10, -10, ny));
        bgRY(gsapLib.utils.interpolate(-10, 10, nx));
        innerX(gsapLib.utils.interpolate(44, 56, nx));
        innerY(gsapLib.utils.interpolate(44, 56, ny));
      });
      document.addEventListener("pointerleave", () => {
        bgRX(0);
        bgRY(0);
        innerX(50);
        innerY(50);
      });
    }
  }
</script>
