---
import { Image } from "astro:assets";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import merchImage from "../../public/img/merch.jpg";
import ImageCarousel from "../components/ImageCarousel.astro";
import ButtonHome from "../components/ButtonHome.astro";
---

<BaseLayout mainText="Merch" subText="" showButtonHome={false}>
<div id="img-container" class="w-full overflow-hidden">
  <ImageCarousel
    src={merchImage}
    alt="A collage of various merchandise items"
  />
</div>
  <div id="buttons" class="flex flex-col md:flex-row gap-3 w-full md:w-10/12 lg:w-8/12 xl:w-6/12 mx-auto justify-center">
    <a id="card-button"
        href="https://api.whatsapp.com/send?phone=584145805584&text=Hola%2C%20quisiera%20m%C3%A1s%20info%20sobre%20la%20merch%20de%20Club%C2%A0Dom%C3%A9stico"
        class="block py-4 px-6 text-center uppercase font-bold text-lg border-3 bg-emerald-500 border-black text-black rounded-lg hover:bg-black hover:text-emerald-500 transition-all w-full"
    >
        Comprar por WhatsApp
    </a>
    <ButtonHome />

  </div>
</BaseLayout>

<style>
  #img-container {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }