---
// Props for dynamic avatar (or hardcode)
const { src = "../img/logo_transparent.png", alt = "Club Domestico Logo" } =
  Astro.props;
---

<div class="flex justify-center ">
  <a href="/">
    <img
      src={src}
      alt={alt}
      class="rounded-full h-32 w-32 lg:h-36 lg:w-36 border-3 border-white bg-white shadow-black shadow-md/50"
    />
  </a>
</div>
