<a
  href="/"
  class="block py-4 px-6 text-center uppercase font-bold text-lg border-3 bg-black border-white text-white rounded-xl hover:bg-white hover:text-black transition-all w-full"
>
  ← Inicio
</a>
