<a
  href="/"
  class="block py-4 px-6 text-center uppercase font-bold text-lg border-2 lg:border-3 bg-black border-red-500 text-red-500 rounded-lg hover:bg-red-500 hover:text-black transition-all w-full"
>
  ← Volver al Inicio
</a>
