<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Club Doméstico</title>
  <meta name="author" content="Club Doméstico" />
  <meta name="description" content="Electro y afecto en formato DIY 👽" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
    rel="stylesheet"
  />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QT03WSRJP9"
  ></script>
  <script>
    // @ts-ignore
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      // @ts-ignore
      dataLayer.push(arguments);
    }
    // @ts-ignore
    gtag("js", new Date());
    // @ts-ignore
    gtag("config", "G-QT03WSRJP9");
  </script>
</head>
