---
const links = [
  { text: "Entradas Valencia 27/09", url: "/tickets/", color: "accent" },
  {
    text: "Merch",
    url: "/merch",
    color: "primary",
  },
  { text: "Próximos Eventos", url: "/calendar", color: "primary" },
  { text: "Contáctanos", url: "mailto:clubdomestico@gmail.com", color: "primary" },
];
---

<div class="flex flex-col gap-4 w-full mx-auto">
  {
    links.map((link) => (
      <div class={`border-2 lg:border-3 rounded-lg transition-all bg-black ${link.color === 'primary' ? 'border-red-500' : 'border-emerald-500'} ${link.color === 'primary' ? 'hover:bg-red-500' : 'hover:bg-emerald-500'}`}>
        <a
          href={link.url}
          class={`flex items-center justify-center w-full py-4 px-6 text-center uppercase font-bold text-lg hover:text-black ${link.color === 'primary' ? 'text-red-500' : 'text-emerald-500'}`}
        >
          {link.text}
        </a>
      </div>
    ))
  }
</div>
