---
const links = [
  // {
  //   text: "AFTER HOURS / 13 MAR",
  //   url: "https://www.instagram.com/p/DVKG0fNgYbI/",
  //   type: "image",
  //   color: "primary",
  //   image: "/img/after-hours-001.jpg",
  // },
  {
    text: "Próximos Eventos",
    url: "/calendar",
    type: "button",
    color: "primary",
    image: null,
  },
  {
    text: "Merch",
    url: "/merch",
    type: "button",
    color: "secondary",
    image: null,
  },
  {
    text: "Contáctanos",
    url: "mailto:clubdomestico@gmail.com",
    type: "button",
    color: "secondary",
    image: null,
  },
];
---

<div class="flex flex-col gap-4 w-full mx-auto">
  {
    links.map((link) => (
      <div
        class={`relative overflow-hidden border-3 lg:border-3 rounded-xl transition-all bg-black 
          ${link.color === "primary" ? "border-emerald-300" : "border-pink-300"} 
          ${link.type === "button" ? (link.color === "primary" ? "hover:bg-emerald-300" : "hover:bg-pink-300") : ""}`}
        style={
          link.type === "image"
            ? `background-image: url('${link.image}'); background-size: cover; background-position: center;`
            : ""
        }
      >
        {link.type === "image" && (
          <div class="absolute inset-0 bg-black/50 pointer-events-none" />
        )}

        <a
          href={link.url}
          class={`relative z-10 flex items-center justify-center w-full px-6 text-center uppercase font-bold text-lg hover:text-black transition-all
            ${link.color === "primary" ? "text-emerald-300" : "text-pink-300"}
            ${link.type === "image" ? "py-4 " : "py-4"}`}
        >
          {link.text}
        </a>
      </div>
    ))
  }
</div>
