<div class="flex justify-center gap-x-8">

  <a
    href="https://instagram.com/clubdomestico"
    aria-label="Instagram"
    class="flex items-center justify-center
      h-12 w-12 rounded-full bg-white
      hover:bg-opacity-90 transition-all"
  >
    <img
      src="/icons/instagram.svg"
      alt="Instagram"
      class="h-8 w-8"
      width="24"
      height="24"
    />
  </a>

  <a
    href="https://www.tiktok.com/@clubdomestico"
    aria-label="TikTok"
    class="flex items-center justify-center
      h-12 w-12 rounded-full bg-white
      hover:bg-opacity-90 transition-all"
  >
    <img
      src="/icons/tiktok.svg"
      alt="TikTok"
      class="h-8 w-8"
      width="24"
      height="24"
    />
  </a>

  <a
    href="https://www.youtube.com/@clubdomestico"
    aria-label="YouTube"
    class="flex items-center justify-center
      h-12 w-12 rounded-full bg-white
      hover:bg-opacity-90 transition-all"
  >
    <img
      src="/icons/youtube.svg"
      alt="YouTube"
      class="h-8 w-8"
      width="24"
      height="24"
    />
  </a>
</div>
