---
import Head from "../components/Head.astro";
import GrainOverlay from "../components/GrainOverlay.astro";
import Header from "../components/Header.astro";
import ButtonHome from "../components/ButtonHome.astro";
import SMPTEBars from "../components/SMPTEBars.astro";

interface Props {
  mainText?: string;
  subText?: string;
  showButtonHome?: boolean; // New optional boolean prop
  size?: "block" | "full-width"; // New optional prop for layout size
  bgType?: "noise" | "smpte"; // Controls background type
}

const {
  mainText = "Club Doméstico",
  subText = "Electro y afecto en formato DIY 👽",
  showButtonHome = true,
  size = "block",
  bgType = "noise",
} = Astro.props;
const mainClasses =
  size === "full-width"
    ? "flex flex-col w-full gap-4 relative z-10 py-6"
    : "flex flex-col w-full gap-4 relative z-10 px-4 py-6";
---

<html lang="en">
  <Head />
  <body
    class={`flex flex-col items-center md:justify-center min-h-dvh w-full ${bgType === "smpte" ? "bg-black" : ""}`}
  >
    {bgType === "noise" ? <GrainOverlay /> : <SMPTEBars fullScreen={true} />}

    <main class={mainClasses}>
      <Header mainText={mainText} subText={subText} />

      <slot />

      {showButtonHome && <ButtonHome />}
    </main>
  </body>
</html>
